[Unit]
Description=Oedon Portero Digital - UDP Port Knock
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/test/Oedon
EnvironmentFile=/home/test/Oedon/.env
ExecStart=/usr/bin/python3 /home/test/Oedon/internal/portero/portero.py
Restart=always

[Install]
WantedBy=multi-user.target
